@font-face {
    font-family: FedraSansPro-DemiItalic;
    src: url(../fonts/FedraSansPro-DemiItalic.otf); }

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: FedraSansPro-DemiItalic, Helvetica, sans-serif;
    position: relative;
    background-color: honeydew;

}
.container h1,h2,h3,h4,h5 {
    text-align: center; }

/*header menu*/
.navbar {
    font-family: FedraSansPro-DemiItalic, Helvetica, sans-serif;
    z-index: 1;
    background-color:  #4267b2;
    margin-bottom: 0;
    border-radius:0;
    border:none;
    font-size: 16px;
    box-shadow: 0 1px 15px #000000; }

.fa-map, .glyphicon-log-out{
    margin:0 10px 0 20px;  }

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color:white; }

.navbar-collapse ul li:hover {
    background-color: cornflowerblue; }

/* left menu*/
#menu{
    width: 15%;
    height: 100%;
    text-align: center;
    /*border: 1px solid #4267b2;*/
    list-style: none;
    margin: 1% 0 1% 1%; }

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #4267b2;
    border: 1px solid #ddd;  }

#menu .list-group-item:hover{
    background-color: cornflowerblue;
    color:#fff; }

#menu .list-group-item:focus{
    background-color: cornflowerblue;
    color:#fff; }

.menu-avatar{
    background-color: lightgrey;
    opacity: 0.7;
    padding-bottom: 2%;
    border-radius: 4px; }

.menu-avatar span{
    margin: 20% 0 5% 0;
    padding:5%;
    color: red;
    font-size:50px;
    border-radius: 50%;
    background-color: #ffffff; }

a.list-group-item, button.list-group-item {
 color: #FFFFFF;}

.menu-list a i{
    margin-right: 4%; }

.footer_logo{
    color: grey; }
hr{
    border-top: 1px solid #4267b2;
}

/*map*/
#map {
    height:86%; }

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0; }

/*--------index page-------------------------------------------------------------------------------------------------*/
footer h5{
    margin: 0 0 -15px 0;
    padding: 1% 0 1% 0;
    background-color: #4267b2;
    color:#ffffff;
    box-shadow: 0 -1px 15px #000000; }

.modal-header, h4, button, .close {
    background-color: #4267b2;
    color:white !important;
    text-align: center;
    font-size: 30px; }

.btn-success{
    background-color: #4267b2;
    border-color: #4267b2;}

.btn-success:hover {
    background-color: cornflowerblue; }

.password-error,.email-error,#password-error,#surname-error,#name-error{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    color:red;
}
.error-color {
    background-color: silver;
    opacity: 0.7;
}

 /*--------page My-page------------------------------------------------------------------------------------------------*/
#maps {
    height:90%;
    width: 82%;
    margin:1%;
    border-radius: 3px; }

/*modal window on page my_page */
#myModal{
    margin-top: 2%;
    border-radius: 3px; }

.input-group{
    margin:3% 0;
    width:100%;
    border: 1px solid #4267b2; }
.modal-save button{
    background-color: #4267b2;
    color:#000;
    margin:-15px 0 -15px 0; }

.modal-save button:hover{
    background-color: cornflowerblue;
    color:#ffffff; }

.open>.dropdown-toggle.btn-primary:focus{
    background-color: cornflowerblue;
    color:#fff;
    border-color: #ffffff;}

.dropdown form{
  margin-left: 25%; }

.dropdown-menu  {
 min-width:0;  }


/*---------------page message-------------------------------------------------------------------------------*/




/*--------- page friends ----------------------------------------------------------------------------*/
.friends,.setting, .photo{
    width: 82%;
    height: 100%;
    border: 1px solid #4267b2;
    margin: 1%;
    background-color: #FFFFFF;
    border-radius: 3px; }

.navbar-form{
    border-radius: 5%;
    width: 70%; }

.btn-default{
    background-color: #4267b2;
    width:100%;}
.friend_list, .photo_list{
    padding: 5%; }




/*--------------page photo----------------------------------------------------------------------------------*/





/*-------------page setting----------------------------------------------------------------------------------*/

.setting_list {
    padding: 0 5% 0 5%;
    margin-right: 0; }

.setting .input-group span{
    width:9%; }

.set-save{
    padding-right:8%;
    margin: 1%; }
